{:paths ["src" "test"]
 :deps {prismatic/schema {:git/url "https://github.com/plumatic/schema"
                          :git/sha "8fcb57f87ffe74185e1f1da72be4933bd4aad4d2"}
        org.clojure/core.async {:mvn/version "1.7.701"}
        com.taoensso/timbre {:mvn/version "6.6.1"}
        http-kit/http-kit {:mvn/version "2.8.0"}
        ring/ring-core {:mvn/version "1.13.0"}
        ring/ring-json {:mvn/version "0.5.1"}
        metosin/reitit {:mvn/version "0.8.0-alpha1"}
        buqt/model {:local/root "../model"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :git/sha     "3f288f1f16d167723ad87cc35b1dfee3c1681e10"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}}}
